.header {
  overflow: hidden;
  background-color: #ffffff;
  padding:10px;
  border-bottom: grey solid 5px;
}
        
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;

}
        
.header a:hover {
  background-color: #ddd;
  color: black;
}
        
.header-right {
  float: right;
  padding-top: 10px;
}
        
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.fixedHeader {
  position:inherit;
  /* top: 0; */
  height: 300px;
  padding: 10px 16px;
  color: #2862cb;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
}

.banner {
  text-align: center;
  height: 150px;
  padding: 10px 16px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.button {
  background-color: #68b701;
  border: none;
  color: #512d89;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10%;
}

.button:hover {
  background-color: #4c7d0c;
  color: #2e1754;
}

.column {
  float: left;
  width: 31%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


/* review row and column */

.revRow {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.revRow,
.revRow > .revCol {
  padding: 2px;
}

/* Create four equal columns that floats next to each other */
.revCol {
  float: left;
  width: 24%;
}

/* Clear floats after rows */
.revRow:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #68b7012d;
  height: 400px;
  /* width: 300px; */
  padding: 10px;
  border-radius: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .revCol {
    width: 49%;
  }
}

.contactimg {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }

 .introIMG {
  padding-top: 50px;
  width: 100%;
  height: 200px;
  text-align: center;
  opacity: 70%;
 }

 .introText {
  opacity: 100% !important;
 }

.titleCard{
  text-align: center;
  color: #68b701;
  font-weight: bolder;
  font-size: 30px;
  background-color: #339acd12;
  padding:10px;
  border: #68b701 solid 5px;
 }






 .services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.service-category {
  margin: 10px 0;
}

.dropdown-toggle {
  padding: 10px 15px;
  font-size: 1.2rem;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-toggle:hover {
  background-color: #6c6c6c;
}

.dropdown-content {
  display: none;
  list-style: none;
  margin: 10px 0;
  padding: 0;
  border: 1px solid grey;
  border-radius: 5px;
}

.dropdown-content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid grey; /* Optional: Adds a dividing line between items */
}

.service-time {
  color: #666; /* Optional: Make the time less prominent */
  font-size: 0.9rem;
}


.dropdown-content li:last-child {
  border-bottom: none;
}

.dropdown-content li:hover {
  background-color: #6c6c6c;
}

.service-category.active .dropdown-content {
  display: block;
}
